@import "../../vars";

.rules-component {
  background: $grey;

  .row {

    .icon {
      background: url("./img/notepad.svg")  no-repeat top center;
    }

    @media (min-width: (768px) ){
      .content {
        order: 1;
        text-align: right;
      }
      .icon {
        order: 2;
      }
    }
  }

}