@import "../../../../../assets/style/vars";
@import "../../../../../assets/style/article_mixin";

.logos-container{
  display: flex;
  justify-content: flex-start;

  img {
    max-height: 75px;
    margin-top: 40px;
  }
  img:not(:first-child) {
    margin-left: 70px;
  }
}
