<div class="rules-component front-page-article">
    <div class="container">
        <div class="row">

            <div class="col-xs-2 col-sm-2 col-md-3 icon">
            </div>

            <div class="col-xs-10 col-sm-10 col-md-9 content">
                <h2> {{data.Title}} </h2>
                <p> aicea vine șort badiul </p>
                <button type="button" class="btn btn-primary " (click)="showChildModal()">mai mult</button>
            </div>
        </div>
    </div>

    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Child modal</h4>
                </div>
                <div class="modal-body">
                    {{data.Body}}
                </div>
            </div>
        </div>
    </div>

</div>
